version: '3.8'

services:
  {{ project_name }}: 
    build:
      context: .
      dockerfile: Dockerfile
    {% if framework == 'dot-net_core' %}container_name: dot-net_core
    {% elif framework == 'blazor' %}container_name: blazor
    {% endif %}ports:
      - "5000:80"
    volumes:
      - .:/app     
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
