version: '3.8'

services:
  {{ project_name }}:
    build:
      context: .
      dockerfile: Dockerfile
    {% if framework == 'django' %}container_name: django
    {% elif framework == 'fastapi' %}container_name: fastapi
    {% elif framework == 'flask' %}container_name: flask
    {% elif framework == 'pyramid' %}container_name: pyramid 
    {% elif framework == 'flacon' %}container_name: flacon     
    {% endif %}ports:
      - "{{ port }}:{{ port }}"
    volumes:
      - .:/app

    # Add additional configurations as needed