version: '3.8'

services:
  {{ project_name }}:
    build:
      context: .
      dockerfile: Dockerfile
    {% if framework == 'express' %}container_name: express
    {% elif framework == 'nest' %}container_name: nest
    {% elif framework == 'koa' %}container_name: koa
    {% elif framework == 'fastify' %}container_name: fastify
    {% endif %}ports:
      - "{{ port }}:{{ port }}"
    volumes:
      - .:/usr/src/app     
    environment:
      NODE_ENV: development

    # Add additional configurations as needed
